$color-primary-cyan: hsl(179, 62%, 43%);
$color-primary-cyan-light: hsl(179, 46%, 53%);
$color-primary-yellow: hsl(71, 73%, 54%);


$color-light-grey: hsl(204, 43%, 93%);
$color-grey-blue: hsl(218, 22%, 67%);

* {
    margin: 0;
    padding: 0; }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; }

html {
    font-size: 62.5%; // 1rem = 10px
    font-family: Karla;
    background-color: $color-light-grey
}

h1 {
    font-size: 2rem;
    color: $color-primary-cyan;
    margin-bottom: 1.8rem;
}

h2 {
    color: $color-primary-yellow;
    margin-bottom: 1.2rem;
}

h3 {
    color: $color-light-grey;
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
}

h4 {
    color: hsla(203, 44%, 93%, 0.438);
    font-size: 1.3rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    .price {
        color: #fff;
        font-size: 2.2rem;
        padding-right: .9rem;
    }
}

h5 {
    color: hsla(203, 44%, 93%, 0.685);
    font-size: 1.3rem;
    margin-bottom: .7rem;
}

h6 {
    color: hsla(203, 44%, 93%, 0.685);
    font-size: 1.2rem;
}

p {
    color: $color-grey-blue;
    font-size: 1.3rem;
}


.container {
    max-width: 55rem;
    background-color: #fff;
    margin: 20rem auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)) ;
   

    border-radius: 1%;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.3);

    overflow: hidden;
    
    @media only screen and (max-width: 400px) {
        margin: 5rem 4rem
    }
}

.top-section {
    grid-column: 1/-1;
    padding: 3rem 5rem 3rem 3rem;
}

.bottom-left-section {
    background-color: $color-primary-cyan;
    padding: 3rem 2rem 3rem 3rem;
}

.bottom-right-section {
    background-color: $color-primary-cyan-light;
    padding: 3rem 7rem 3rem 3rem;
}

.btn {
 margin-top: 2rem;
 
 background-color: $color-primary-yellow;
 color: #fff;
 font-weight: 700;
 font-size: 1.5rem;
 width: 90%;
 height: 4rem;
 border: none;
 border-radius: 5px;
box-shadow: 0 2rem 5rem rgba(0,0,0,.2);
}

